body {
  font-family: "Montserrat Alternates", sans-serif;
  margin:0;
}
html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
section {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  
}
mark {
  background-color: rgba(255, 0, 0, 0.1);
}
a {
  text-decoration: none !important;
  color: inherit;
}
h2 {
  font-size: 1.5em;
}
.welcome-text {
  font-weight: bold;
  text-align: right;
}
.ana-highlight-homepage {
  color: red;
}

.welcome-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.welcome-star-small1,
.welcome-star-big,
.welcome-star-small2,
.welcome-star-small3 {
  position: absolute;
}

@media screen and (max-width: 360px) {

  .welcome-star-big {
    margin: 0;
    left: -150px;
    top: -100px;
  }
  .welcome-star-small1 {
    top: -80px;
    right: 100px;
  }
  .welcome-star-small3 {
    bottom: -90px;
    left: -150px;
  }
  .welcome-star-small2 {
    top: -100px;
  }
  
  .welcome-stars {
    position: absolute;
  
    /* left:40px; */
  }
}

@media screen and (max-width: 360px) {
  body > .welcome-container > .welcome-bitmoji {
    position: absolute;
    top: 70%;
    left: 0;
  }

  /* body > .about-me-container {
    margin-left: 10%;
  } */
  body > .projects-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
}
.lang-icons {
  display: inline-block;
}
.lang-icons > img {
  padding: 10px;
}
.text-about-me {
  line-height: 200%;
}
.welcome-bitmoji {
  position: absolute;
  left: 30%;
  top: 70%;
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  width: 20px;
  height: 20px;
}

/* Cards projects
desktop*/
.about-me-container {
  margin-left:5px;
}

.wrap-projects-worked-on{
  text-align: left;
  /* margin-left:10px; */
  font-size: larger;

}

@media (min-width: 40rem) {
  .project-cards {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media (min-width: 60rem) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
.img-project {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.card > a {
  text-decoration: none;
}
.button-more-container {
  width: 100%;
  margin-top: 1.5rem;
}

.button-more {
  width: 97px;
  height: 41px;
  position: relative;
  margin: -20px -50px;
  left: 50%;
  border-radius: 20px;
  border: none;
  background-color: #f01111;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat Alternates;
}



@media screen and (max-width: 360px) {
  .academics-container {
    padding-top: 2.5rem;
  }
  .academics-text {
    text-align: right;  
    font-size: larger;
  
  }
}

.academics-degree {
  color: #F01111;
  font-weight: bold;
}
/* timeline */

/* (A) "SET" THE TIMELINE CONTAINER */
.altTL, div.altEV { box-sizing: border-box; }
.altTL {
  /* (A1) RELATIVE POSITION IS NECESSARY... */
  position: relative;
  /* (A2) WIDTH RESTRICTION & CENTER ON PAGE */
  max-width: 600px;
  margin: 0 auto;
}

.altTL::before {
  /* (B1) DRAW THE VERTICAL TIMELIME */
  content: '';
  width: 5px;
  background-color: #F01111;
  /* (B2) SET IN MIDDLE OF CONTAINER */
  position: absolute;
  top: 0;
  bottom: 20%;
  left: 5%;
}

/* (C) STYLES FOR EVENTS */
div.altEV {
  position: relative;
  left: 10%;
  /* DEFAULT TO LEFT, USE .RIGHT BELOW TO PLACE EVENT ON THE RIGHT */
  padding: 20px 30px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 30px;
  border-style: solid;
  border-color:rgba(255, 0, 0, 0.1);
}
/* div.right { left: 55%; } */


div.altEV.right::after {
  content: '';
  z-index:1;
  background: rgba(255, 0, 0, 0.1);
  border: 4px solid rgba(255, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: auto;
  right: 105%;
}