html, body {
  height: 100%;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
  margin:0;
}
html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

}
section {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  
}
mark {
  background-color: rgba(255, 0, 0, 0.1);
}
a {
  text-decoration: none !important;
  color: inherit;
}
h2 {
  font-size: 1.5em;
}
ul > li{
  list-style: none;
}
.welcome-text {
  font-weight: bold;
  text-align: right;
}
.ana-highlight-homepage {
  color: red;
}

.welcome-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.welcome-star-small1,
.welcome-star-big,
.welcome-star-small2,
.welcome-star-small3 {
  position: absolute;
}

@media screen and (max-width: 360px) {

  .welcome-star-big {
    margin: 0;
    left: -150px;
    top: -100px;
  }
  .welcome-star-small1 {
    top: -80px;
    right: 100px;
  }
  .welcome-star-small3 {
    bottom: -90px;
    left: -150px;
  }
  .welcome-star-small2 {
    top: -100px;
  }
  
  .welcome-stars {
    position: absolute;
  
    /* left:40px; */
  }
}

@media screen and (max-width: 360px) {
  body > .welcome-container > .welcome-bitmoji {
    position: absolute;
    top: 70%;
    left: 0;
  }

  /* body > .about-me-container {
    margin-left: 10%;
  } */
  body > .projects-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
}
.lang-icons {
  display: inline-block;
}
.lang-icons > img {
  padding: 10px;
}
.text-about-me {
  line-height: 200%;
}
.welcome-bitmoji {
  position: absolute;
  left: 30%;
  top: 70%;
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  width: 20px;
  height: 20px;
}

/* Cards projects
desktop*/
.about-me-container {
  margin-left:5px;
}

.wrap-projects-worked-on{
  text-align: left;
  /* margin-left:10px; */
  font-size: larger;

}

@media (min-width: 40rem) {
  .project-cards {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media (min-width: 60rem) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
.img-project {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.card > a {
  text-decoration: none;
}
.button-more-container {
  width: 100%;
  margin-top: 1.5rem;
}

.button-more {
  width: 97px;
  height: 41px;
  position: relative;
  margin: -20px -50px;
  left: 50%;
  border-radius: 20px;
  border: none;
  background-color: #f01111;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat Alternates;
}


.academics-degree {
  color: #F01111;
}
@media screen and (max-width: 360px) {
  .academics-container {
    padding-top: 2.5rem;
  }
  .academics-text {
    text-align: right;  
    font-size: larger;
  }
  .academics-year{
    margin: 0;
  }
  .academics-program-title{
    margin: 0;
  }
  .academics-program-wrap {
    margin-top: 1rem;
  }
  .academics-degree {
    color: #F01111;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}


.carousel {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px; 
}
.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
 }

/* cell number */
.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */


}
@media screen and ( min-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 50%; }
}

.flickity-prev-next-button .arrow {
  fill: red;
}
.flickity-prev-next-button.no-svg {
  color: red;
}

/* delete before work */
.test {
  margin-top: 0;
  position: absolute;
  top: 200px;
  font-size: xxx-large;
  color: steelblue;
  -webkit-transform: rotate(
-40deg
);
}